.wrapper > * {
  border: 1px solid gray;
}

.wrapper {
}

.heading {
  font-weight: 800;
  font-size: 3.3em;
}

.blurb {
  color: var(--sky-blue);
  font-size: 2em;
  font-weight: 600;
}

.imageWrapper {
}
